extends utils/layout

block content
  form(method='post', action='/users/add')
    .row
      .four.columns
        label Username
        input.u-full-width(type='text', name='username', autofocus, required)

      .four.columns
        label Name
        input.u-full-width(type='text', name='name', required)

      .four.columns
        label Email
        input.u-full-width(type='email', name='email', required)

    .row
      input.button-primary(type='submit', value='Add user')
