extends utils/layout

block content
  form(method='post', action='/users/edit/' + user.id)
    .row
      .four.columns
        label Username
        input.u-full-width(type='text', name='username', value= user.username, autofocus, required)

      .four.columns
        label Name
        input.u-full-width(type='text', name='name', value= user.name, required)

      .four.columns
        label Email
        input.u-full-width(type='email', name='email', value= user.email, required)

    .row
      input.button-primary(type='submit', value='Update user')
