doctype html
html

  head
    block head
      title= title
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway:400,300,600')

      link(rel='stylesheet', href='/css/normalize.css')
      link(rel='stylesheet', href='/css/skeleton.css')
      link(rel='stylesheet', href='/css/main.css')

  body
    .container
      section
        h4= title
      block content
